<% extend('../partials/layout') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= title %></h1>

        <p class="display-5">
            <a href="/">Вернуться на главную</a>
        </p>
    </div>
</div>
